---
import { Image, Picture } from "astro:assets";
import fetchApi from "../../lib/strapi";
import BaseLayout from "../../layouts/BaseLayout.astro";
import RandomAuthors from "../../components/RandomAuthors.astro";
import BookCard from "../../components/BookCard.astro";

export async function getStaticPaths() {
    const authors = await fetchApi({
        endpoint: "authors",
        wrappedByKey: "data",
        query: { populate: ["books", "image", "books.image"] },
    });

    const paths = authors.map((author) => ({
        params: { slug: author.slug },
        props: {
            author,
        },
    }));

    return paths;
}

const { author } = Astro.props;
// console.log(author);
---

<BaseLayout>
    <div class="auth">
        <div class="author">
            <h2>{author.name}</h2>
            <div class="about__author">
                <Image
                    src={`${import.meta.env.STRAPI_URL}${author.image.url}`}
                    alt="Book image"
                    width="300"
                    height="400"
                    widths={[250, 350, 500, 750]}
                    format="avif"
                    sizes="(min-width: 2960px) calc(12.5vw - 118px), (min-width: 2600px) calc(5vw + 121px), (min-width: 2240px) calc(5.29vw + 131px), (min-width: 1900px) calc(5vw + 157px), (min-width: 1540px) calc(4.71vw + 180px), (min-width: 1160px) calc(3.33vw + 217px), (min-width: 1120px) calc(325vw - 3455px), (min-width: 760px) calc(3.53vw + 229px), (min-width: 540px) calc(42vw - 43px), calc(8.18vw + 225px)"
                />
                <div class="author__text">
                    <div>
                        <p class="title">Date of birth:</p>
                        <p class="answ">{author.born}</p>
                    </div>
                    <div>
                        <p class="title">About</p>
                        <p class="answ">{author.description}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="books__own">
            <h3>Books I own</h3>
            <div>
                <ul class="own__books__list">
                    {
                        author.books.map((book) => (
                            <li>
                                <a href={`/books/${book.slug}`}>
                                    <BookCard book={book} />
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
    <RandomAuthors />
</BaseLayout>

<style>
    img {
        aspect-ratio: 1/1;
        object-fit: contain;
    }
    .author {
        max-width: 65rem;
        padding: 1rem 4rem;
        padding-bottom: 4rem;
        margin: 3rem auto;
        background-color: #eaeaea;
        border-radius: 5rem;
    }
    .about__author {
        display: flex;
        justify-content: center;
        padding-top: 3rem;
    }
    p {
        max-width: 30rem;
    }
    .author__text {
        display: grid;
        padding-left: 2rem;
    }
    .title {
        font-size: 1.5rem;
        font-weight: 700;
        padding-bottom: 0.5rem;
        padding-top: 1rem;
    }
    .answ {
        font-size: 1.3rem;
        font-weight: 400;
        padding-bottom: 0.3rem;
    }
    .auth {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .books__own h3 {
        text-align: center;
        font-size: 2rem;
        font-family: "alfarn-2", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        padding-bottom: 3rem;
    }
</style>
