---
import { Image, Picture } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import fetchApi from "../../lib/strapi";
import BookCard from "../../components/BookCard.astro";

export async function getStaticPaths() {
    const keywords = await fetchApi({
        endpoint: "keywords",
        wrappedByKey: "data",
        query: { populate: ["books", "books.image"] },
    });

    const paths = keywords.map((keyword) => ({
        params: { slug: keyword.slug },
        props: {
            keyword,
        },
    }));

    return paths;
}

const { keyword } = Astro.props;
---

<BaseLayout>
    <div class="keyword">
        <h2>{keyword.word}</h2>
        <div class="about__keyword">
            <p class="keyword__title">What is {keyword.word} in books?</p>
            <p>{keyword.description}</p>
        </div>
        <ul class="list">
            {
                keyword.books.map((book) => (
                    <li key={book.slug}>
                        <a href={`/books/${book.slug}`}>
                            <BookCard book={book} />
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>

<style>
    .keyword {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .list {
        display: flex;
    }

    .about__keyword {
        max-width: 40rem;
    }

    .keyword__title {
        padding: 3rem 0;
        padding-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 700;
    }
</style>
