---
import { Image, Picture } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import fetchApi from "../../lib/strapi";

export async function getStaticPaths() {
    const keywords = await fetchApi({
        endpoint: "keywords",
        wrappedByKey: "data",
        query: { populate: "books" },
    });

    const paths = keywords.map((keyword) => ({
        params: { slug: keyword.slug },
        props: {
            keyword,
        },
    }));

    return paths;
}

const { keyword } = Astro.props;
---

<BaseLayout>
    <h2>{keyword.word}</h2>
    <p>What is {keyword.word} in books?</p>
    <p>{keyword.description}</p>
    <ul>
        {
            keyword.books.map((book) => (
                <li key={book.slug}>
                    <a href={`/books/${book.slug}`}>
                        <h4>{book.title}</h4>
                        {book.image && (
                            <img
                                src={`${import.meta.env.STRAPI_URL}${book.image.url}`}
                                alt={book.title}
                                width="150"
                                height="200"
                            />
                        )}
                    </a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
