---
// import { Image, Picture } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import fetchApi from "../../lib/strapi";
import BookCard from "../../components/BookCard.astro";

export async function getStaticPaths() {
    const genres = await fetchApi({
        endpoint: "genres",
        wrappedByKey: "data",
        query: { populate: ["books", "books.image"] },
    });

    const paths = genres.map((genre) => ({
        params: { slug: genre.slug },
        props: {
            genre,
        },
    }));

    return paths;
}

const { genre } = Astro.props;
---

<BaseLayout>
    <div class="genre">
        <h2>{genre.title}</h2>
        <div class="about__genre">
            <p class="genre__title">What is {genre.title} in books?</p>
            <p>{genre.description}</p>
        </div>
        <div>
            <ul class="list">
                {
                    genre.books.map((book) => (
                        <li key={book.slug}>
                            <a href={`/books/${book.slug}`}>
                                <BookCard book={book} />
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</BaseLayout>

<style>
    .genre{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list{
        display: flex;
    }

    .about__genre{
        max-width: 40rem;
    }

    .genre__title{
        padding: 3rem 0;
        padding-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 700;
    }
</style>
